-printDeps
-graphtype dags
-mode INCREMENTAL
-algorithm IBK
-labels
-prevaction
-inputToken
-inputTokenTag
-stackToken
-stackTokenTag
-inputTokenPos
-stackTokenPos
-stackHeadOfInput
-inputHeadOfStack
-lookAhead
-lookAheadTag
-stackrightmostchild
-stackleftmostchild
-inputleftmostchild
-printdeps
-tagmode GOLDTAG
-printFlow