-printFlow
-printdeps
-mode EVAL
-tagmode GOLDTAG
-validategolddata
-algorithm IBK
-graphtype trees
-labels
-inputToken
-inputTokenTag
-stackToken
-stackTokenTag
-inputTokenPos
-stackTokenPos
-stackHeadOfInput
-inputHeadOfStack
-lookAhead
-lookAheadTag
-stackrightmostchild
-stackleftmostchild
-inputleftmostchild
-dropDisfluent
