-printdeps
-mode INCREMENTAL
-tagmode GOLDTAG
-algorithm NaiveBayes
-graphtype trees
-labels
-lookahead
-stackhead
-stackheadlabel
-inputToken
-inputTokenTag
-stackToken
-stackTokenTag
-stackHeadOfInput
-inputHeadOfStack
-lookAhead
-lookAheadTag
-stackrightmostchild
-stackleftmostchild
-inputleftmostchild
-stacknumberchildren
-inputnumberchildren
