-dropDisfluent
-printdeps
-mode INCREMENTAL
-tagmode GOLDTAG
-algorithm IBK
-graphtype trees
-labels
-inputToken
-inputTokenTag
-stackToken
-stackTokenTag
-inputTokenPos
-stackTokenPos
-stackHeadOfInput
-inputHeadOfStack
-lookAhead
-lookAheadTag
-stackrightmostchild
-stackleftmostchild
-inputleftmostchild
