# 
STARTCOMPONENT
type com.adesim.ADESimEnvironmentComponent
host 127.0.0.1
componentargs -cfg com/adesim/config/boring.xml -g
ENDCOMPONENT
# 
STARTCOMPONENT
type com.adesim.SimEraComponent
componentargs -g Camera
host 127.0.0.1
ENDCOMPONENT
# 
#STARTCOMPONENT
#type com.adesim.SimEraComponent
#componentargs -g Camera -initpose 1.0 2.0 0.0
#host 127.0.0.1
#ENDCOMPONENT
#
