#
STARTCOMPONENT
host 127.0.0.1
type com.adesim.SimPioneerComponent
userclasspath jars/visionJNI.jar:build:jars/vecmath.jar
javavmargs
componentargs
ENDCOMPONENT
#
STARTCOMPONENT
host 127.0.0.1
port 1099
type com.adesim.ADESimEnvironmentComponent
userclasspath jars/visionJNI.jar:build:jars/vecmath.jar:.
javavmargs
componentargs -g  #-config com/adesim/config/200Boston.xml
ENDCOMPONENT
#
