# 
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.adesim.ADESimEnvironmentComponent
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
groups s1
conntecttogroups s1
componentargs -g -cfg com/adesim/config/200Boston.xml
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
pause 200
groups s1
conntecttogroups s1
type com.adesim.SimPioneerComponent
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
componentargs -initpose -8.0 0.5 0.0
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
pause 200
groups s1
conntecttogroups s1
type com.motion.MotionComponent
host 127.0.0.1
componentargs -critical 0.6
#startdirectory /tmp/ade-usb/ade/
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
#pause 5000
groups s1
conntecttogroups s1
type com.simspeech.SimSpeechProductionComponent
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
componentargs -g
ENDCOMPONENT
#
# To enable festival, uncomment the lines below and adjust the componentargs
# field of the Discourse stanza below
#STARTCOMPONENT
#type com.festival.FestivalComponent
#host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
#componentargs -exe ../festival/bin/festival --libdir ../festival/lib --component ../festival/lib/init.scm
##componentargs -exe festival --component
#ENDCOMPONENT
# 
STARTCOMPONENT
#pause 2500
type com.discourse.TLDLDiscourseComponent
groups s1
conntecttogroups s1
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar:com/discourse/TL_DL_parser
#componentargs -fest -actor cbot
componentargs -action -actor cbot -dict com/discourse/TL_DL_parser/newautonomy.dict
ENDCOMPONENT
# 
STARTCOMPONENT
pause 2500
groups s1
conntecttogroups s1
type com.action.GoalManagerLinear
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
#userclasspath jars/SapaReplan.jar
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
componentargs -dbsup com/action/db/exploration.xml -component com.simspeech.SimSpeechProductionComponent -component com.motion.MotionComponent -component com.adesim.SimPioneerComponent -component com.discourse.TLDLDiscourseComponent -script spin cbot -- -agentname cbot
ENDCOMPONENT
#
# To use the speech recognizer instead of the point-and-click interface,
# uncomment below and comment out the SimSpeech stanza below.
#STARTCOMPONENT
#pause 5000
#type com.sphinx4.Sphinx4Component
#host 127.0.0.1
##startdirectory /tmp/ade-usb/ade/
#javavmargs -mx512m -Djava.library.path=../aiml/ainebot/lib -XX:+UseSerialGC
#userclasspath jars/sphinx4.jar:jars/WSJ_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar
#componentargs -disc
#ENDCOMPONENT
#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
pause 1000
groups s1
conntecttogroups s1
type com.simspeech.SimSpeechRecognitionComponent
host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
componentargs -g -cfg com/simspeech/config/newautonomy
ENDCOMPONENT
#
#STARTCOMPONENT
#type com.joystick.KeyboardJoystickComponent
#host 127.0.0.1
#startdirectory /tmp/ade-usb/ade/
#ENDCOMPONENT
#
