#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.adesim.ADESimEnvironmentComponent
host 127.0.0.1
componentargs -cfg com/adesim/config/200BostonReverse.xml -g
ENDCOMPONENT
# 
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.adesim.SimWheelchairComponent
#componentargs -initpose 3.5 -2.5 3.14159 -coordinates config/robots/wheelchair/wheelsimCoords.conf
componentargs -initpose -2.5 0 4.7 -coordinates config/robots/wheelchair/wheelsimCoords.conf
host 127.0.0.1
ENDCOMPONENT
#
STARTCOMPONENT
pause 2000
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.motion.MotionComponent
componentargs -deadreck -critical 0.6 -deftv 0.35 -defrv 0.2 -slowtv 0.25 -slowrv 0.2 -tol 0.8 -teps 0.1 
host 127.0.0.1
ENDCOMPONENT
#
STARTCOMPONENT
pause 1500
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.action.GoalManagerPriority
host 127.0.0.1
componentargs  -component com.interfaces.NLPComponent -component com.motion.MotionComponent -component com.adesim.SimWheelchairComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script listen self -- -agentname self
#componentargs -component com.spex.SpexComponent -component com.interfaces.NLPComponent -component com.motion.MotionComponent -component com.adesim.SimWheelchairComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script listen self -- -agentname self
# componentargs  -component com.interfaces.NLPComponent -component com.motion.MotionComponent -component com.adesim.SimWheelchairComponent -dbfilesupp com/action/db/muri-nofunnybusiness.xml -script DemoAction self -- -agentname self
# javavmargs -Dlog4j.configurationFile=config/logging/goalManagerDebugging.xml
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath com/discourse/TL_DL_parser:build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.discourse.TLDLDiscourseComponent
host 127.0.0.1
componentargs -action -actor cbot -dict com/discourse/TL_DL_parser/newautonomy.dict --verbose
ENDCOMPONENT
#
STARTCOMPONENT
pause 2500
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.simspeech.SimSpeechRecognitionComponent
host 127.0.0.1
componentargs -g -cfg com/simspeech/config/newautonomy -nlp com.discourse.TLDLDiscourseComponent
ENDCOMPONENT
#
STARTCOMPONENT
userclasspath build:jars/commons-logging-1.1.2.jar:jars/log4j-api-2.0-beta8.jar:jars/log4j-core-2.0-beta8.jar:jars/log4j-jcl-2.0-beta8.jar:jars/guava-14.0.1.jar
type com.simspeech.SimSpeechProductionComponent
host 127.0.0.1
componentargs -g
javavmargs -Dlog4j.configurationFile=config/logging/spexWCSRDBG.xml
ENDCOMPONENT
# 
