#
STARTCOMPONENT
host 127.0.0.1
type com.adesim.SimPioneerComponent
userclasspath jars/visionJNI.jar:build:.:jars/vecmath.jar:jars/commons-math3-3.0.jar:jars/commons-logging-1.1.2.jar:jars/guava-14.0.1.jar
javavmargs
componentargs -g
ENDCOMPONENT
#
#
STARTCOMPONENT
host 127.0.0.1
#port 1099
type com.adesim.ADESimEnvironmentComponent
userclasspath jars/visionJNI.jar:build:.:jars/vecmath.jar:jars/commons-math3-3.0.jar:jars/commons-logging-1.1.2.jar:jars/guava-14.0.1.jar
javavmargs
componentargs -g  #-config com/adesim/config/200Boston.xml
#componentargs -g -config com/adesim/config/intersections.xml
#componentargs -g -config com/adesim/config/Lbranches.xml
ENDCOMPONENT
#
