STARTCOMPONENT
type com.nsim.speechrec.nsimSpeechrecComponent
host 127.0.0.1 1098
componentargs -loadliq evan2315science.liq -loadro evan2315science.ro -offline -g
userclasspath .:jars/jna.jar:com/nsim/speechrec
javavmargs -Djava.library.path=com/nsim/speechrec
ENDCOMPONENT

STARTCOMPONENT
type com.simspeech.SimSpeechInputComponent
host 127.0.0.1 1098
componentargs -g -config com/nsim/speechrec/evan_5_test/config
ENDCOMPONENT