# ADE config file ./config/hostmonitor.config
# Most of these items are optional and will be filled with
# default values. At a minimum, the 'host', 'type', and
# 'startdirectory' items should be listed.
# 
# Format and valid options:
# STARTCOMPONENT
# host           IP address or hostname
# port           the RMI port (default=1099)
# type           server class (e.g., com.test.TestComponentImpl)
# name           assigned name (optional)
# conn           number of connections supported (default=10)
# tmout          reaper period
# acc            access rights
# startdirectory fully qualified directory
# userclasspath  server-specific classpath (space delimited)
# javavmargs     server-specific java vm arguments (space delimited, no leading dash)
# componentargs     server-specific command-line arguments
# restarts       number of recovery attempts (default=0)
# configfile     configuration file (optional)
# credentials    additional permissions
# ENDCOMPONENT
# 
#
# start the HostMonitor server
STARTCOMPONENT
host 127.0.0.1
type com.hostmonitor.HostMonitorComponentImpl
startdirectory /home/airolab/ade-svn/ade/
restarts 1
componentargs -reg -auto
ENDCOMPONENT
#
#
